footer{
    position: relative;
    width: 1510px;
    height: 360px;
    border: 1px solid black;
    margin:0 auto;
}
.img-1{
    position: absolute;
    margin-top: 118px;
    margin-left: -0px;
    z-index: -1;
}
.img-2{
    position: absolute;
    margin-left: 1270px;
    margin-top: 140px;
    z-index: -1;
}

.main-f-1{
    align-items: center;
}